<div>
    <div style="width: fit-content; font-size:25px; font-weight:bolder; margin:auto; margin-top:100px;color: green;">
        ORDER PLACED SUCCESSFULLY
    </div>
    <div style="width: fit-content; font-size:17px; margin:auto; margin-top:10px; color: black;">
        Order ID is <%= data %>
    </div>
    <a href="products">
    <div style="width: fit-content; font-size:17px; margin:auto; margin-top:30px; color: white; background-color: #0197A6; font-weight: bolder; border-radius: 5px; padding: 5px 20px 5px 20px;">
        Continue shopping
    </div>
    </a>
</div>

