
.section_1{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #0197A6, #003229);
    color: white;
}
    .section_1_1{
        width: 90vw;
        margin: auto;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
        .section_1_1_1{
            background-image: url(../images/vegam_logo_white.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100px;
            height: 50px;
            margin-top: 40px;
            transform: translateY(-50%);
        }
        .section_1_1_2{
            display: flex;
            width: 60vw;
            max-width: 300px;
            height: fit-content;
            margin-top: 40px;
            transform: translateY(-50%);
            font-size: 17px;
            justify-content: space-between;
        }
            .section_1_1_2_1{
                width: fit-content;
                height: fit-content;
                padding: 5px;
                cursor: pointer;
                transition: all 0.2s;
            }
            .section_1_1_2_1:hover{
                background-color: white;
                color: #0197A6;
            }
            .section_1_1_2_1:active{
                transform: scale(1.2);
            }
    .section_1_2{
        width: 90vw;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        margin: auto;
        margin-top: 100px;
    }
        .section_1_2_1{
            width: 400px;
            height: fit-content;
        }
            .section_1_2_1_1{
                font-size: 70px;
                font-weight: bolder;
                height: fit-content;
                width: fit-content;
            }
            .section_1_2_1_2{
                margin-top: 30px;
            }
            .section_1_2_1_3{
                background-color: white;
                color: #003229;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 20px 10px 20px;
                width: fit-content;
                border-radius: 20px;
                margin-top: 20px;
                border: 2px solid white;
                cursor: pointer;
                transition: all 0.2s;
            }
            .section_1_2_1_3:hover{
                background-color: transparent;
                color: white;
            }
        .section_1_2_2{
            width: fit-content;
            height: fit-content;
            
        }
            .section_1_2_2_1{
                width: 500px;
                height: 250px;
                position: relative;
                margin-left: auto;
            }
                .section_1_2_2_1_1{
                    padding: 20px 150px 20px 40px;
                    background-color: silver;
                    border-radius: 100px;
                    color: #046e78;
                    font-weight: bold;
                    font-size: 25px;
                    width: 400px;
                    margin-top: 100px;
                    margin-left: -70px;
                }
                .section_1_2_2_1_2{
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: right;
                    width: 350px;
                    height: 350px;
                    position: absolute;
                    top: -100px;
                    right: 0;
                }
            .section_1_2_2_2{
                display: flex;
                justify-content: space-between;
                width: 50vw;
                height: fit-content;
                max-width: 600px;
                margin-right: 5vw;
                margin-top: 60px;
            }
                .section_1_2_2_2_1{
                    width: 150px;
                    height: 150px;
                    background-image: linear-gradient(to bottom right, #0197A6, #003229);
                    border-radius: 20px;
                    transition: all 0.2s;
                }
                .section_1_2_2_2_1:hover{
                    box-shadow: 0px 0px 10px white;
                }
                .section_1_2_2_2_1:active{
                    box-shadow:none;
                }
                    .section_1_2_2_2_1_sub1{
                        transform: scale(1.3);
                    }
                    .section_1_2_2_2_1_1{
                        width: 150px;
                        height: 110px;
                        margin-top: 10px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                    .section_1_2_2_2_1_2{
                        width: fit-content;
                        height: fit-content;
                        margin: auto;
                        margin-top: 5px;
                    }
