.userLogin{
    background-image: linear-gradient(to bottom right, #0197A6, #003229);
}
.adminLogin{
    background-image: linear-gradient(to bottom right, #9CE207, #2D6303);
}
.masterLogin{
    background-image: linear-gradient(to bottom right, #FF530A, #852800);
}
.section_1{
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    color: white;
}
    .section_1_1{
        width: 90vw;
        margin: auto;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
        .section_1_1_1{
            background-image: url(../images/vegam_logo_white.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100px;
            height: 50px;
            margin-top: 40px;
            transform: translateY(-50%);
        }
        .section_1_1_2{
            display: flex;
            width: fit-content;
            height: fit-content;
            margin-top: 40px;
            transform: translateY(-50%);
            font-size: 17px;
            justify-content: space-between;
        }
            .section_1_1_2_1{
                width: fit-content;
                height: fit-content;
                padding: 5px;
                cursor: pointer;
                transition: all 0.2s;
            }
            .section_1_1_2_1:hover{
                background-color: white;
                color: #0197A6;
            }
            .section_1_1_2_1:active{
                transform: scale(1.2);
            }
    .section_1_2{
        width: 500px;
        height: fit-content;
        padding-bottom: 40px;
        border: 1px solid white;
        margin: auto;
        margin-top: 10px;
        border-radius: 10px;
    }
        .section_1_2_1{
            width: fit-content;
            height: fit-content;
            font-weight: bold;
            font-size: 20px;
            margin: auto;
            margin-top: 20px;
            padding-bottom: 50px;
        }
        .section_1_2_2{
            width: fit-content;
            margin: auto;
            position: relative;
            padding-bottom: 40px;
        }
            .section_1_2_2_1{
                width: 450px;
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 3px solid white;
                color: white;
                font-size: 20px;
                padding-bottom: 5px;
            }
            .section_1_2_2_2{
                font-size: 17px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.7;
                transition: all 0.2s;
            }
        .section_1_2_3{
            background-color: white;
            color:#003229;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            width: 430px;
            display: block;
            margin: auto;
            border-radius: 10px;
            margin-top: 20px;
            cursor: pointer;
        }
        .section_1_2_4{
            width: fit-content;
            height: fit-content;
            margin: auto;
            padding-top: 20px;
        }
        .section_1_2_5{
            padding-top: 20px;
            margin-left: 30px;
        }

.sectionErrorMessage {
    color: rgb(256,100,100);
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -40px;
}